.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;

}
.navbar option{
    background-color: black;
    color: white;
}



@media (max-width:900px){
    .navbar{
        padding: 20px 8%;

    }

}
@media (max-width:768px){
    .navbar{
        padding: 20px 5%;

    }
    .navbar ul{
      display: none;
    }
    .navbar h1{
        font-size: 20px;
    }

}